In [1]:
import pandas as pd
import numpy as np
import pyarrow.parquet as pq
import pyarrow as pa

In [2]:
original_wine_ratings = pq.read_table('./data/join_wine_agg_rating.parquet').to_pandas()
print(original_wine_ratings.shape)
original_wine_ratings.head()

(939457, 13)

,WineID,Vintage,RegionID,WineName,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
0,100001,1988,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,2,4.000000,3.0,5.0
1,100001,1999,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,2,4.500000,4.0,5.0
2,100001,2007,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,1,2.500000,2.5,2.5
3,100001,2008,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,42,3.630952,1.0,5.0
4,100001,2009,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,1,4.000000,4.0,4.0

In [3]:
wine_ratings = pq.read_table('./data/join_wine_agg_rating.parquet').to_pandas()

In [4]:
file = "./data/winemag-data_first150k.csv"
data = pd.read_csv(file)

In [5]:
wine_ratings.loc[wine_ratings['WineName'] == "Sauvignon Blanc"]

,WineID,Vintage,RegionID,WineName,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
3192,100233,2005,1012,Sauvignon Blanc,White,Varietal/100%,13.0,Medium-bodied,High,1,4.000000,4.0,4.0
3193,100233,2006,1012,Sauvignon Blanc,White,Varietal/100%,13.0,Medium-bodied,High,1,5.000000,5.0,5.0
3194,100233,2007,1012,Sauvignon Blanc,White,Varietal/100%,13.0,Medium-bodied,High,2,3.000000,3.0,3.0
3195,100233,2008,1012,Sauvignon Blanc,White,Varietal/100%,13.0,Medium-bodied,High,11,4.090909,2.5,5.0
3196,100233,2009,1012,Sauvignon Blanc,White,Varietal/100%,13.0,Medium-bodied,High,1,3.500000,3.5,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
938674,200420,2015,2074,Sauvignon Blanc,White,Varietal/100%,12.5,Light-bodied,High,1,2.000000,2.0,2.0
938675,200420,2016,2074,Sauvignon Blanc,White,Varietal/100%,12.5,Light-bodied,High,1,3.000000,3.0,3.0
938676,200420,2017,2074,Sauvignon Blanc,White,Varietal/100%,12.5,Light-bodied,High,1,4.500000,4.5,4.5
938934,200545,2008,2485,Sauvignon Blanc,White,Varietal/100%,14.0,Medium-bodied,High,1,5.000000,5.0,5.0
938935,200545,2013,2485,Sauvignon Blanc,White,Varietal/100%,14.0,Medium-bodied,High,4,3.875000,3.0,4.5

In [6]:
#count number of values = 100001 in colume 'WineID'
len(wine_ratings[wine_ratings['WineID'] == 100001])

15

In [7]:
# keep only the wines that have at least 5 ratings
pertinent_wine_ratings = wine_ratings[wine_ratings['CountRating'] > 4 ]
print(pertinent_wine_ratings.shape)
pertinent_wine_ratings.head()

(488253, 13)

,WineID,Vintage,RegionID,WineName,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
3,100001,2008,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,42,3.630952,1.0,5.0
7,100001,2012,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,7,4.142857,3.0,5.0
9,100001,2014,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,17,4.088235,2.0,5.0
10,100001,2015,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,13,4.192308,2.0,5.0
11,100001,2016,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,6,3.833333,2.5,5.0

In [8]:
## Label Encoding

from sklearn import preprocessing
le = preprocessing.LabelEncoder()

pertinent_wine_ratings.loc[:, 'Type'] = le.fit_transform(pertinent_wine_ratings['Type'])+1
pertinent_wine_ratings.loc[:, 'Body'] = le.fit_transform(pertinent_wine_ratings['Body'])+1
pertinent_wine_ratings.loc[:, 'Acidity'] = le.fit_transform(pertinent_wine_ratings['Acidity'])+1
pertinent_wine_ratings.loc[:, 'Elaborate'] = le.fit_transform(pertinent_wine_ratings['Elaborate'])+1

pertinent_wine_ratings.head()

C:\Users\PQV\AppData\Local\Temp\ipykernel_10940\2484533794.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pertinent_wine_ratings.loc[:, 'Type'] = le.fit_transform(pertinent_wine_ratings['Type'])+1
C:\Users\PQV\AppData\Local\Temp\ipykernel_10940\2484533794.py:6: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  pertinent_wine_ratings.loc[:, 'Type'] = le.fit_transform(pertinent_wine_ratings['Type'])+1
C:\Users\PQV\AppData\Local\Temp\ipykernel_10940\2484533794.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pertinent_wine_ratings.loc[:, 'Body'] = le.fit_transform(pertinent_wine_ratings['Body'])+1
C:\Users\PQV\AppData\Local\Temp\ipykernel_10940\2484533794.py:7: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  pertinent_wine_ratings.loc[:, 'Body'] = le.fit_transform(pertinent_wine_ratings['Body'])+1
C:\Users\PQV\AppData\Local\Temp\ipykernel_10940\2484533794.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pertinent_wine_ratings.loc[:, 'Acidity'] = le.fit_transform(pertinent_wine_ratings['Acidity'])+1
C:\Users\PQV\AppData\Local\Temp\ipykernel_10940\2484533794.py:8: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  pertinent_wine_ratings.loc[:, 'Acidity'] = le.fit_transform(pertinent_wine_ratings['Acidity'])+1
C:\Users\PQV\AppData\Local\Temp\ipykernel_10940\2484533794.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pertinent_wine_ratings.loc[:, 'Elaborate'] = le.fit_transform(pertinent_wine_ratings['Elaborate'])+1
C:\Users\PQV\AppData\Local\Temp\ipykernel_10940\2484533794.py:9: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  pertinent_wine_ratings.loc[:, 'Elaborate'] = le.fit_transform(pertinent_wine_ratings['Elaborate'])+1

,WineID,Vintage,RegionID,WineName,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
3,100001,2008,1001,Espumante Moscatel,5,21,7.5,3,1,42,3.630952,1.0,5.0
7,100001,2012,1001,Espumante Moscatel,5,21,7.5,3,1,7,4.142857,3.0,5.0
9,100001,2014,1001,Espumante Moscatel,5,21,7.5,3,1,17,4.088235,2.0,5.0
10,100001,2015,1001,Espumante Moscatel,5,21,7.5,3,1,13,4.192308,2.0,5.0
11,100001,2016,1001,Espumante Moscatel,5,21,7.5,3,1,6,3.833333,2.5,5.0

In [9]:
## Select Features and Target
X = pertinent_wine_ratings.drop(['WineID','Vintage','WineName', 'RegionID'], axis=1)
Y = pertinent_wine_ratings[['WineID','Vintage']]

In [10]:
X.head()

,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
3,5,21,7.5,3,1,42,3.630952,1.0,5.0
7,5,21,7.5,3,1,7,4.142857,3.0,5.0
9,5,21,7.5,3,1,17,4.088235,2.0,5.0
10,5,21,7.5,3,1,13,4.192308,2.0,5.0
11,5,21,7.5,3,1,6,3.833333,2.5,5.0

In [11]:
Y.head()

    WineID Vintage
3   100001    2008
7   100001    2012
9   100001    2014
10  100001    2015
11  100001    2016

In [12]:
## Normalize Features
for column in X.columns:
    X[column] = (X[column] - X[column].min()) / (X[column].max() - X[column].min())

In [13]:
X.head()

,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
3,0.8,0.952381,0.166667,0.5,0.0,0.009127,0.629987,0.000,1.0
7,0.8,0.952381,0.166667,0.5,0.0,0.000493,0.768340,0.500,1.0
9,0.8,0.952381,0.166667,0.5,0.0,0.002960,0.753577,0.250,1.0
10,0.8,0.952381,0.166667,0.5,0.0,0.001973,0.781705,0.250,1.0
11,0.8,0.952381,0.166667,0.5,0.0,0.000247,0.684685,0.375,1.0

In [14]:
print(X.shape)

(488253, 9)

In [15]:
## Concatenate Features and Target for the comparison
X = pd.concat([Y,X], axis=1)

In [16]:
print(X.shape)

(488253, 11)

In [ ]:
wine_id = 100001
vintage = '2014'


if ((X['WineID'] == wine_id) & (X['Vintage'] == vintage)).any():
    print("Wine ID found")
    #fine row with index wine_id in X
    #given_row_X = X.loc[X['WineID']== float(wine_id)] 
    
    #find row with index wine_id and vintage_id in pertinent_ratings
    reference_row = X.loc[(X['WineID'] == wine_id) & (X['Vintage'] == vintage)]
    print(reference_row)
    
    # found_wine = True
else:
    print("Wine ID not found")

print(type(X['Vintage'].iloc[0]))

if ((X['Vintage'] == vintage)).any():
    print("Vintage found")

In [ ]:
# Calculate the Euclidean distance between the reference wine and each of the other wines

from scipy.spatial import distance

def euclidean_distance(row):
    
    wine = [float(row['Type']), float(row['ABV']), float(row['Body']), float(row['Acidity']), float(row['Elaborate']), float(row['AverageRating'])]
    reference_wine = [float(reference_row['Type'].values[0]), float(reference_row['ABV'].values[0]), float(reference_row['Body'].values[0]), 
                      float(reference_row['Acidity'].values[0]), float(reference_row['Elaborate'].values[0]), float(reference_row['AverageRating'].values[0])]

    return distance.euclidean(wine, reference_wine)


X['euclidean_distance'] = X.apply(euclidean_distance, axis=1)

# Display the DataFrame with the calculated distances
print(X.head())

In [ ]:
# Sort the DataFrame by the euclidean_distance column and display the 10 nearest wines
ref_wine_name = pertinent_wine_ratings.loc[(pertinent_wine_ratings['WineID'] == wine_id) & (pertinent_wine_ratings['Vintage'] == vintage)]['WineName'].values[0]
print("reference wine is "+ ref_wine_name + " in year " + vintage)
print("The 10 most similar wines are:")

Z = X.sort_values(by=['euclidean_distance'])
Z = Z.head(11)

for index, row in Z.iterrows():
    r = pertinent_wine_ratings.loc[(pertinent_wine_ratings['WineID'] == row['WineID']) & (pertinent_wine_ratings['Vintage'] == row['Vintage'])]
    print(r['WineName'].values[0] + " in year " + r['Vintage'].values[0])