In [2]:
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa

In [5]:
df = pq.read_table('../data/wine_dim.parquet').to_pandas()
df.head()

,WineID,WineName,Type,Elaborate,ABV,Body,Acidity,RegionID
0,100001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,1001
1,100002,Ancellotta,Red,Varietal/100%,12.0,Medium-bodied,Medium,1001
2,100003,Cabernet Sauvignon,Red,Varietal/100%,12.0,Full-bodied,High,1001
3,100004,Virtus Moscato,White,Varietal/100%,12.0,Medium-bodied,Medium,1001
4,100005,Maison de Ville Cabernet-Merlot,Red,Assemblage/Bordeaux Red Blend,11.0,Full-bodied,Medium,1001

In [8]:
df2 = pq.read_table('../data/ratings.parquet').to_pandas()
df2.head()

   WineID  Rating                 Date  VintageID
0  162719     4.0  2017-08-02 03:05:17         67
1  179575     3.0  2020-04-18 20:47:27         67
2  135944     4.0  2018-07-10 11:00:00         67
3  118300     4.5  2018-10-01 19:20:54         67
4  135913     4.5  2020-11-13 17:47:28         67