In [3]:
import pandas as pd
import numpy as np
import pyarrow.parquet as pq
import pyarrow as pa

In [8]:
original_wine_ratings = pq.read_table('../data/join_wine_agg_rating.parquet').to_pandas()
print(original_wine_ratings.shape)
original_wine_ratings.head()

(939457, 13)

,WineID,Vintage,RegionID,WineName,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
0,100001,1988,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,2,4.000000,3.0,5.0
1,100001,1999,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,2,4.500000,4.0,5.0
2,100001,2007,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,1,2.500000,2.5,2.5
3,100001,2008,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,42,3.630952,1.0,5.0
4,100001,2009,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,1,4.000000,4.0,4.0

In [9]:
wine_ratings = pq.read_table('../data/join_wine_agg_rating.parquet').to_pandas()

In [10]:
#count number of values = 100001 in colume 'WineID'
len(wine_ratings[wine_ratings['WineID'] == 100001])

15

In [11]:
pertinent_wine_ratings = wine_ratings[wine_ratings['CountRating'] > 4 ]
print(pertinent_wine_ratings.shape)
pertinent_wine_ratings.head()

(488253, 13)

,WineID,Vintage,RegionID,WineName,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
3,100001,2008,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,42,3.630952,1.0,5.0
7,100001,2012,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,7,4.142857,3.0,5.0
9,100001,2014,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,17,4.088235,2.0,5.0
10,100001,2015,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,13,4.192308,2.0,5.0
11,100001,2016,1001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,6,3.833333,2.5,5.0

In [12]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

pertinent_wine_ratings['Type'] = le.fit_transform(pertinent_wine_ratings['Type'])+1
pertinent_wine_ratings['Body'] = le.fit_transform(pertinent_wine_ratings['Body'])+1
pertinent_wine_ratings['Acidity'] = le.fit_transform(pertinent_wine_ratings['Acidity'])+1
pertinent_wine_ratings['Elaborate'] = le.fit_transform(pertinent_wine_ratings['Elaborate'])+1

pertinent_wine_ratings.head()

C:\Users\PQV\AppData\Local\Temp\ipykernel_16224\3088979528.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pertinent_wine_ratings['Type'] = le.fit_transform(pertinent_wine_ratings['Type'])+1
C:\Users\PQV\AppData\Local\Temp\ipykernel_16224\3088979528.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pertinent_wine_ratings['Body'] = le.fit_transform(pertinent_wine_ratings['Body'])+1
C:\Users\PQV\AppData\Local\Temp\ipykernel_16224\3088979528.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pertinent_wine_ratings['Acidity'] = le.fit_transform(pertinent_wine_ratings['Acidity'])+1
C:\Users\PQV\AppData\Local\Temp\ipykernel_16224\3088979528.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pertinent_wine_ratings['Elaborate'] = le.fit_transform(pertinent_wine_ratings['Elaborate'])+1

,WineID,Vintage,RegionID,WineName,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
3,100001,2008,1001,Espumante Moscatel,5,21,7.5,3,1,42,3.630952,1.0,5.0
7,100001,2012,1001,Espumante Moscatel,5,21,7.5,3,1,7,4.142857,3.0,5.0
9,100001,2014,1001,Espumante Moscatel,5,21,7.5,3,1,17,4.088235,2.0,5.0
10,100001,2015,1001,Espumante Moscatel,5,21,7.5,3,1,13,4.192308,2.0,5.0
11,100001,2016,1001,Espumante Moscatel,5,21,7.5,3,1,6,3.833333,2.5,5.0

In [14]:
X = pertinent_wine_ratings.drop(['WineID','Vintage','WineName', 'RegionID'], axis=1)
Y = pertinent_wine_ratings[['WineID','Vintage']]

In [15]:
X.head()

,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
3,5,21,7.5,3,1,42,3.630952,1.0,5.0
7,5,21,7.5,3,1,7,4.142857,3.0,5.0
9,5,21,7.5,3,1,17,4.088235,2.0,5.0
10,5,21,7.5,3,1,13,4.192308,2.0,5.0
11,5,21,7.5,3,1,6,3.833333,2.5,5.0

In [16]:
Y.head()

    WineID Vintage
3   100001    2008
7   100001    2012
9   100001    2014
10  100001    2015
11  100001    2016

In [17]:
for column in X.columns:
    X[column] = (X[column] - X[column].min()) / (X[column].max() - X[column].min())

In [18]:
X.head()

,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
3,0.8,0.952381,0.166667,0.5,0.0,0.009127,0.629987,0.000,1.0
7,0.8,0.952381,0.166667,0.5,0.0,0.000493,0.768340,0.500,1.0
9,0.8,0.952381,0.166667,0.5,0.0,0.002960,0.753577,0.250,1.0
10,0.8,0.952381,0.166667,0.5,0.0,0.001973,0.781705,0.250,1.0
11,0.8,0.952381,0.166667,0.5,0.0,0.000247,0.684685,0.375,1.0

In [19]:
X = pd.concat([Y,X], axis=1)

In [20]:
X.head()

,WineID,Vintage,Type,Elaborate,ABV,Body,Acidity,CountRating,AverageRating,MinRating,MaxRating
3,100001,2008,0.8,0.952381,0.166667,0.5,0.0,0.009127,0.629987,0.000,1.0
7,100001,2012,0.8,0.952381,0.166667,0.5,0.0,0.000493,0.768340,0.500,1.0
9,100001,2014,0.8,0.952381,0.166667,0.5,0.0,0.002960,0.753577,0.250,1.0
10,100001,2015,0.8,0.952381,0.166667,0.5,0.0,0.001973,0.781705,0.250,1.0
11,100001,2016,0.8,0.952381,0.166667,0.5,0.0,0.000247,0.684685,0.375,1.0

In [31]:
wine_id = 100001
vintage = '2014'


if ((X['WineID'] == wine_id) & (X['Vintage'] == vintage)).any():
    print("Wine ID found")
    #fine row with index wine_id in X
    #given_row_X = X.loc[X['WineID']== float(wine_id)] 
    
    #find row with index wine_id and vintage_id in pertinent_ratings
    reference_row = X.loc[(X['WineID'] == wine_id) & (X['Vintage'] == vintage)]
    print(reference_row)
    
    # found_wine = True
else:
    print("Wine ID not found")

print(type(X['Vintage'].iloc[0]))

if ((X['Vintage'] == vintage)).any():
    print("Vintage found")

Wine ID found
   WineID Vintage  Type  Elaborate       ABV  Body  Acidity  CountRating  \
9  100001    2014   0.8   0.952381  0.166667   0.5      0.0      0.00296

   AverageRating  MinRating  MaxRating
9       0.753577       0.25        1.0
<class 'str'>
Vintage found

In [32]:
from scipy.spatial import distance

def euclidean_distance(row):
    
    wine = [float(row['Type']), float(row['ABV']), float(row['Body']), float(row['Acidity']), float(row['Elaborate']), float(row['AverageRating'])]
    reference_wine = [float(reference_row['Type'].values[0]), float(reference_row['ABV'].values[0]), float(reference_row['Body'].values[0]), 
                      float(reference_row['Acidity'].values[0]), float(reference_row['Elaborate'].values[0]), float(reference_row['AverageRating'].values[0])]

    return distance.euclidean(wine, reference_wine)


X['euclidean_distance'] = X.apply(euclidean_distance, axis=1)

# Display the DataFrame with the calculated distances
print(X.head())

    WineID Vintage  Type  Elaborate       ABV  Body  Acidity  CountRating  \
3   100001    2008   0.8   0.952381  0.166667   0.5      0.0     0.009127
7   100001    2012   0.8   0.952381  0.166667   0.5      0.0     0.000493
9   100001    2014   0.8   0.952381  0.166667   0.5      0.0     0.002960
10  100001    2015   0.8   0.952381  0.166667   0.5      0.0     0.001973
11  100001    2016   0.8   0.952381  0.166667   0.5      0.0     0.000247

    AverageRating  MinRating  MaxRating  euclidean_distance
3        0.629987      0.000        1.0            0.123590
7        0.768340      0.500        1.0            0.014763
9        0.753577      0.250        1.0            0.000000
10       0.781705      0.250        1.0            0.028128
11       0.684685      0.375        1.0            0.068892

In [39]:
ref_wine_name = pertinent_wine_ratings.loc[(pertinent_wine_ratings['WineID'] == wine_id) & (pertinent_wine_ratings['Vintage'] == vintage)]['WineName'].values[0]
print("reference wine is "+ ref_wine_name + " in year " + vintage)
print("The 10 most similar wines are:")

Z = X.sort_values(by=['euclidean_distance'])
Z = Z.head(11)

for index, row in Z.iterrows():
    r = pertinent_wine_ratings.loc[(pertinent_wine_ratings['WineID'] == row['WineID']) & (pertinent_wine_ratings['Vintage'] == row['Vintage'])]
    print(r['WineName'].values[0] + " in year " + r['Vintage'].values[0])

reference wine is Espumante Moscatel in year 2014
The 10 most similar wines are:
Espumante Moscatel in year 2014
Moscatel Espumante Rosé in year 2018
Moscatel Giallo Espumante in year 2015
Moscatel Rosé in year 2020
Fante Moscatel in year 2015
Moscatel Espumante in year 2018
Moscatel in year 2015
FRV 100 in year 2016
Moscatel Espumante in year 2013
Espumante Moscatel in year 2012
i Quercioli Lambrusco Grasparossa Dolce in year 2015

In [27]:
#list of unique wine IDs
pertinent_wine_ids = pertinent_wine_ratings['WineID'].unique()
print(len(pertinent_wine_ids))

80830

In [5]:
pertinent_ratings["AverageRating"] = (pertinent_ratings["AverageRating"] - pertinent_ratings["AverageRating"].min()) / (pertinent_ratings["AverageRating"].max() - pertinent_ratings["AverageRating"].min())

C:\Users\PQV\AppData\Local\Temp\ipykernel_11620\3034698262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pertinent_ratings["AverageRating"] = (pertinent_ratings["AverageRating"] - pertinent_ratings["AverageRating"].min()) / (pertinent_ratings["AverageRating"].max() - pertinent_ratings["AverageRating"].min())

In [6]:
pertinent_ratings.head()

      WineID VintageID  CountRating  AverageRating  MinRating  MaxRating
3   100001.0        59           42       0.629987        1.0        5.0
7   100001.0        63            7       0.768340        3.0        5.0
9   100001.0        65           17       0.753577        2.0        5.0
10  100001.0        66           13       0.781705        2.0        5.0
11  100001.0        67            6       0.684685        2.5        5.0

In [7]:
wines_raw = pq.read_table('../data/wine_dim.parquet').to_pandas()
wines_raw.head()

,WineID,WineName,Type,Elaborate,ABV,Body,Acidity,RegionID
0,100001,Espumante Moscatel,Sparkling,Varietal/100%,7.5,Medium-bodied,High,1001
1,100002,Ancellotta,Red,Varietal/100%,12.0,Medium-bodied,Medium,1001
2,100003,Cabernet Sauvignon,Red,Varietal/100%,12.0,Full-bodied,High,1001
3,100004,Virtus Moscato,White,Varietal/100%,12.0,Medium-bodied,Medium,1001
4,100005,Maison de Ville Cabernet-Merlot,Red,Assemblage/Bordeaux Red Blend,11.0,Full-bodied,Medium,1001

In [8]:
wines_raw.describe()

              WineID            ABV       RegionID
count  100646.000000  100646.000000  100646.000000
mean   150387.308755      13.268421    1738.085955
std     29095.984572       1.472526     495.235850
min    100001.000000       0.000000    1000.000000
25%    125183.250000      12.500000    1327.000000
50%    150374.500000      13.400000    1710.000000
75%    175591.750000      14.000000    2058.000000
max    200795.000000      50.000000    3750.000000

In [9]:


wines = wines[wines['WineID'].isin(pertinent_wine_ids)]

In [11]:
wines.head()

,WineID,WineName,Type,Elaborate,ABV,Body,Acidity,RegionID
0,100001,Espumante Moscatel,4,20,7.5,2,0,1001
1,100002,Ancellotta,2,20,12.0,2,2,1001
2,100003,Cabernet Sauvignon,2,20,12.0,0,0,1001
3,100004,Virtus Moscato,5,20,12.0,2,2,1001
4,100005,Maison de Ville Cabernet-Merlot,2,1,11.0,0,2,1001

In [16]:
X.head()

   WineID  Type  Elaborate       ABV  Body  Acidity
0  100001   0.8   0.952381  0.166667   0.5      0.0
1  100002   0.4   0.952381  0.266667   0.5      1.0
2  100003   0.4   0.952381  0.266667   0.0      0.0
3  100004   1.0   0.952381  0.266667   0.5      1.0
4  100005   0.4   0.047619  0.244444   0.0      1.0

In [32]:
row = pertinent_ratings.loc[pertinent_ratings['WineID'] == wine_id].sample(1)
print(row)

row_X = X.loc[X['WineID']== float(row['WineID'])]


wine = [float(row_X['Type']), float(row_X['ABV']), float(row_X['Body']), float(row_X['Acidity']), float(row_X['Elaborate']), float(row['AverageRating'])]
print(wine)

      WineID VintageID  CountRating  AverageRating  MinRating  MaxRating
11  100001.0        67            6       0.684685        2.5        5.0
[0.8, 0.16666666666666666, 0.5, 0.0, 0.9523809523809523, 0.6846846846846846]

In [37]:
Z = pertinent_ratings.sort_values(by=['euclidean_distance'])
print(Z.head())

         WineID VintageID  CountRating  AverageRating  MinRating  MaxRating  \
9      100001.0        65           17       0.753577        2.0        5.0
11135  101292.0        69           12       0.752252        3.0        5.0
10570  101157.0        66            5       0.756757        3.5        5.0
5277   100426.0        71           80       0.746622        1.0        5.0
5948   100493.0        66            8       0.763514        3.0        5.0

       euclidean_distance
9                0.000000
11135            0.001325
10570            0.003180
5277             0.006955
5948             0.009936

In [ ]:
Z1 = X.loc[X['euclidean_distance']== 0.0]

In [ ]:
Z1.head()
print(Z1.size)

In [ ]:
wine = wines.loc[X['WineID']== 194160]
print(wine)

wine2 = wines.loc[X['WineID']== 100002]
print(wine2)

In [ ]:
print(wines['Elaborate'].unique())

In [ ]:
X.head()

In [ ]:
wines2 = pq.read_table('../data/ratings.parquet').to_pandas()
wines2.head()